@tailwind base;

@layer base {
  :root {
    font-family: "Geist", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
}

body {
  @apply bg-black text-white;
}

button {
  @apply transition-all duration-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

p {
  @apply py-1;
}

p strong {
  @apply font-bold text-white;
}

cite > * {
  @apply italic text-left hyphens-auto;
}

code {
  @apply text-xs text-blue-600 dark:text-red-600;
}

a {
  @apply text-sky-500 transition-all duration-300;
}

a:hover {
  @apply text-sky-400;
}

.article-entry ol {
  @apply list-decimal list-inside my-5 text-sky-800 dark:text-sky-300;
}

.astro-code {
  @apply p-2 rounded my-2 text-xs;
}

.navbar {
  @apply flex items-center p-5 w-full md:w-[70rem] mx-auto bg-black;
}

.navbar a {
  @apply text-inherit rounded-lg hover:bg-neutral-900 transition-all duration-300;
}

.navbar li {
  @apply px-3 py-2;
}
