---
import { Icon } from "astro-icon/components";
---

<div class="text-center my-36">
  <h2>Let's Keep In Touch!</h2>
  <p class="text-gray-400 my-10">
    I'm currently specializing in <span class="text-sky-500"
      >Front-end Development</span
    >.<br />
    Feel free to reach out and talk more about your project ideas.
  </p>
  <div class="flex items-center justify-center gap-2">
    <button
      class="flex items-center py-2 px-3 bg-neutral-900 hover:bg-neutral-700 text-white rounded-lg gap-2"
      ><Icon name="flowbite:linkedin-solid" class="h-5 w-5 text-sky-500" /> LinkedIn</button
    >
    <button
      class="flex items-center py-2 px-3 bg-neutral-900 hover:bg-neutral-700 text-white rounded-lg gap-2"
      ><Icon name="flowbite:envelope-solid" class="h-5 w-5 text-sky-500" /> Email</button
    >
    <button
      class="flex items-center py-2 px-3 bg-neutral-900 hover:bg-neutral-700 text-white rounded-lg gap-2"
      ><Icon name="flowbite:file-lines-solid" class="h-5 w-5 text-sky-500" /> Resume</button
    >
  </div>
</div>
