---
import { Icon } from "astro-icon/components";
---

<footer class="mt-auto">
  <div
    class="flex items-center w-full max-w-[45rem] mx-auto px-5 py-2 sm:py-10 text-gray-400"
  >
    <a href="/" class="hover:text-blue-500 transition-colors duration-150">
      <h1 class="font-bold">&copy; Aron Sweet</h1>
    </a>
    <ul class="flex items-center ml-auto space-x-4">
      <li>
        <a href="https://x.com/asyncawaited"
          ><Icon
            name="mdi:twitter"
            class="h-6 w-6 hover:text-blue-400 transition-colors duration-150"
          /></a
        >
      </li>
      <li>
        <a href="https://instagram.com/asyncawaited"
          ><Icon
            name="mdi:instagram"
            class="h-6 w-6 hover:text-orange-700 transition-colors duration-150"
          /></a
        >
      </li>
      <li>
        <a href="https://linkedin.com/in/aronjs"
          ><Icon
            name="mdi:linkedin"
            class="h-6 w-6 hover:text-sky-700 transition-colors duration-150"
          /></a
        >
      </li>
      <li>
        <a href="https://github.com/nodesleep"
          ><Icon
            name="mdi:github"
            class="h-6 w-6 hover:text-white transition-colors duration-150"
          /></a
        >
      </li>
    </ul>
  </div>
</footer>
