---

---

<div class="fixed w-full bg-black border-b border-gray-900 z-10">
  <div class="navbar">
    <span class="font-bold text-3xl text-gray-400">
      <a href="/">{"{"}<span class="text-white">A</span>{"}"}</a>
      <!-- <a href="/">{"{"}<span class="text-gray-500">twoslashes</span>{"}"}</a> -->
    </span>
    <div class="ml-auto">
      <ul class="flex items-center font-bold w-full gap-4 text-sm">
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/about">
          <li>About Me</li>
        </a>
        <a href="/articles">
          <li>Articles</li>
        </a>
      </ul>
    </div>
  </div>
</div>
