---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import TornadoTrax from "../assets/projects/tornadotrax.webp";
import DFNX from "../assets/projects/dfnx.webp";
---

<div class="mt-48">
  <h4>Notable Works</h4>
  <p>Here's some of the projects I've made.</p>
  <a href="/">Explore more &rarr;</a>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-12">
  <div class="flex flex-col rounded-lg">
    <Image
      src={TornadoTrax}
      alt="The TornadoTrax Application"
      style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;"
      loading={"lazy"}
    />
    <div class="flex flex-col py-3 px-2 border border-gray-900 rounded-b-lg">
      <div class="flex items-center">
        <h5>TornadoTrax</h5>
        <a href="https://tornadotrax.com" target="_blank" class="ml-auto"
          ><Icon
            name="flowbite:arrow-up-right-from-square-outline"
            class="h-6 w-6 text-white"
          /></a
        >
      </div>
      <div
        class="flex items-center gap-2 text-sm py-2 border-b border-gray-900"
      >
        <span
          class="flex items-center px-3 py-1 rounded bg-yellow-400 text-black font-bold"
          ><Icon
            name="devicon-plain:javascript"
            class="h-4 w-4 mr-1"
          />JavaScript</span
        >
        <span
          class="flex items-center px-3 py-1 rounded bg-emerald-700 text-emerald-100 font-bold"
        >
          <Icon name="devicon-plain:vuejs" class="h-4 w-4 mr-1" />
          Vue.js</span
        >
      </div>
      <div class="py-2">
        <p class="text-gray-400">
          A web application that plots the damage paths of tornadoes for a given
          date range and shows relevant analytics.
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-col rounded-lg">
    <Image
      src={DFNX}
      alt="The DFNX Application"
      style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;"
      loading={"lazy"}
    />
    <div class="flex flex-col py-3 px-2 border border-gray-900 rounded-b-lg">
      <div class="flex items-center">
        <h5>DFNX</h5>
        <a href="https://www.dfnfreight.com/" target="_blank" class="ml-auto"
          ><Icon
            name="flowbite:arrow-up-right-from-square-outline"
            class="h-6 w-6 text-white"
          />
        </a>
      </div>
      <div
        class="flex items-center gap-2 text-sm py-2 border-b border-gray-900"
      >
        <span
          class="flex items-center px-3 py-1 rounded bg-sky-700 text-white font-bold"
        >
          <Icon name="devicon-plain:typescript" class="h-4 w-4 mr-1" />
          TypeScript</span
        >
        <span
          class="flex items-center px-3 py-1 rounded bg-emerald-700 text-emerald-100 font-bold"
        >
          <Icon name="devicon-plain:vuejs" class="h-4 w-4 mr-1" />
          Vue.js</span
        >
      </div>
      <div class="py-2">
        <p class="text-gray-400">
          The DFNX platform facilitates connections between brokers and your
          shipping clients and carriers.
        </p>
      </div>
    </div>
  </div>
</div>
