---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta
      name="description"
      content="Explore the portfolio, projects, and technical insights of Aron Sweet, a Full-Stack Developer with expertise in Vue, React, TypeScript, and more."
    />
    <meta name="author" content="Aron Sweet" />
    <meta
      name="keywords"
      content="Aron Sweet, Full-Stack Developer, Frontend Developer, Vue, React, TypeScript, Astro, JavaScript, Portfolio, Tech Blog, Web Development, Two Slashes, Nodesleep, Asyncawaiting"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:title"
      content="Aron Sweet | Full-Stack Developer and Tech Enthusiast"
    />
    <meta
      property="og:description"
      content="Explore the portfolio, projects, and technical insights of Aron Sweet, a Full-Stack Developer with expertise in Vue, React, TypeScript, and more."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aronsweet.com" />
    <meta
      property="og:image"
      content="https://aronsweet.com/images/og-image.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:title"
      content="Aron Sweet | Full-Stack Developer and Tech Enthusiast"
    />
    <meta
      property="twitter:description"
      content="Explore the portfolio, projects, and technical insights of Aron Sweet, a Full-Stack Developer with expertise in Vue, React, TypeScript, and more."
    />
    <meta
      property="twitter:image"
      content="https://aronsweet.com/images/og-image.jpg"
    />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://aronsweet.com" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Aron Sweet",
        "url": "https://aronsweet.com",
        "sameAs": [
          "https://github.com/nodesleep",
          "https://linkedin.com/in/aronsweet"
        ],
        "jobTitle": "Full-Stack Developer",
        "worksFor": {
          "@type": "Organization",
          "name": "Freelance"
        },
        "description": "Explore the portfolio, projects, and technical insights of Aron Sweet, a Full-Stack Developer with expertise in Vue, React, TypeScript, and more.",
        "image": "https://aronsweet.com/images/profile.jpg"
      }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0SV265WZ3G"
    ></script>
    <script>
      // @ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-0SV265WZ3G");
    </script>

    <!-- Flash reload fix -->
    <script>
      let domReady = (cb: any) => {
        document.readyState === "interactive" ||
        document.readyState === "complete"
          ? cb()
          : document.addEventListener("DOMContentLoaded", cb);
      };

      domReady(() => {
        // Display body when DOM is loaded
        document.body.style.visibility = "visible";
      });
    </script>

    <!-- Article Progress Bar -->
    <script>
      const progressBar = document.getElementById("progressBar");
      window.addEventListener("scroll", () => {
        if (!progressBar) {
          return;
        }
        window.addEventListener("scroll", () => {
          const scrollTop = document.documentElement.scrollTop;
          const scrollHeight =
            document.documentElement.scrollHeight -
            document.documentElement.clientHeight;
          const scrollPercentage = (scrollTop / scrollHeight) * 100;

          progressBar.style.width = scrollPercentage + "%";

          progressBar.style.borderTopRightRadius =
            progressBar.style.borderBottomRightRadius =
              scrollPercentage === 100 ? "0rem" : "0.25rem";
        });
      });
    </script>
  </head>
  <body style="visibility: hidden;">
    <!-- Flash reload fix for Firefox -->
    <script>
      0;
    </script>
    <div class="flex flex-col min-h-screen tracking-wide">
      <Navbar />
      <div class="flex flex-col w-full max-w-[45rem] mx-auto p-5">
        <slot />
      </div>
      <Footer />
    </div>
    <!-- I'm not a monster -->
    <noscript
      ><style>
        body {
          visibility: visible;
        }
      </style></noscript
    >
  </body>
</html>
